Host github.com
  IdentityAgent ~/.1password/agent.sock

Host sx2
  IdentityAgent ~/.1password/agent.sock
  Hostname sx2.xyz
  User ubuntu

Host opc
  IdentityAgent ~/.1password/agent.sock
  User opc
  Hostname stacksparrow4.xyz

Host rssh-remote
  IdentityAgent ~/.1password/agent.sock
  Hostname sx2.xyz
  Port 3232

Host rssh
  IdentityFile ~/.ssh/rssh-key
  Hostname localhost
  Port 3232
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
