Host github.com
  IdentityAgent ~/.1password/agent.sock

Host sx2
  IdentityAgent ~/.1password/agent.sock
  Hostname sx2.xyz
  User ubuntu

Host stacksparrow4
  IdentityFile ~/.ssh/stacksparrow4
  User root
  Hostname ssh.stacksparrow4.xyz

Host ssh.stacksparrow4.xyz
  IdentityFile ~/.ssh/stacksparrow4
  User root

Host rssh-remote
  IdentityAgent ~/.1password/agent.sock
  Hostname sx2.xyz
  Port 3232

Host rssh
  IdentityFile ~/.ssh/rssh-key
  Hostname localhost
  Port 3232
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
