Host github.com
  IdentityAgent ~/.1password/agent.sock

Host sx2
  IdentityAgent ~/.1password/agent.sock
  Hostname sx2.xyz
  User ubuntu

Host stacksparrow4
  User root
  Hostname stacksparrow4.qilin-augmented.ts.net

Host rssh-remote
  IdentityAgent ~/.1password/agent.sock
  Hostname sx2.xyz
  Port 3232

Host rssh
  IdentityFile ~/.ssh/rssh-key
  Hostname localhost
  Port 3232
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
